/*==ÂÖ²¥Ð¡µã±³¾°==*/
.my-car-bg{
    background: rgba(128,128,128,0.5);
}
/*===¼ò½é==*/
.my-img-size{
    min-width: 30px;
    width: 60%;
}
.my-img-size img{
    width: 100%;
    height: 100%;
}
.my-img-auto{
    margin: 0px auto;
}
.my-img-t10{
    margin: 10px auto;
}
.my-img-l0{
    margin-left: 0;
}
.my-img-r0{
    margin-right: 0;
}
.my-pading-zrom{
    padding: 0;
}
/*===¼ò½é==*/


/*===ÖªÊ¶µã===*/
.jsd div{
    padding: 0px;
    border-right: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-radius: 10px;
    box-sizing: border-box;
}
.jsd a{
    /*width: 100%;*/
    /*height: 100%;*/
    min-height: 100px;
    display: block;
}
.jsd a{
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px;
    margin: 20px;
}
.jsd a img{
    width: 32px;
    height: 32px;
}


/*==color====*/
.my-bg-color{
    background: rgba(128,128,128,0.2);
}

