/*==轮播小点背景==*/
.my-car-bg{
    background: rgba(128,128,128,0.5);
}
/*===简介==*/
.my-img-size{
    min-width: 30px;
    width: 60%;
}
.my-img-size img{
    width: 100%;
    height: 100%;
}
.my-img-auto{
    margin: 0px auto;
}
.my-img-t10{
    margin: 10px auto;
}
.my-img-l0{
    margin-left: 0;
}
.my-img-r0{
    margin-right: 0;
}
.my-pading-zrom{
    padding: 0;
}
/*===简介==*/


/*===知识点===*/
.jsd div{
    padding: 0px;
    border-right: 2px solid #339933;
    border-bottom: 2px solid #339933;
    border-radius: 10px;
    box-sizing: border-box;
    min-height: 210px;
}
.jsd a{
    /*width: 100%;*/
    height: 150px;
    min-height: 100px;
    display: block;
}
.jsd a{
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px;
    margin: 10px;
}
.jsd a img{
    width: 32px;
    height: 32px;
}
.jsd strong{
    font-size: 10px;
    line-height: 10px;
    /*white-space: normal;*/
    word-break: break-all;
}


/*==color====*/
.my-bg-color{
    background: rgba(128,128,128,0.2);
}
.mycolor-393{
    color: #339933;
}


/*=====最新留言======*/
.luyandiv{
    padding: 10px 20px 50px;
}
.boder_link{
    border: 2px solid #339933;
}

/*======footer========*/
.footer-div{
    border-top: 3px ridge #339933;
}

