<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>人生检测</title>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

    <link rel="stylesheet" href="../kuangjia/bootstrap-3.3.5-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="rsjc.css"/>

    <script type="text/javascript" src="../kuangjia/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="../kuangjia/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../kuangjia/angular/angular.min.js"></script>
    <script type="text/javascript" src="rsjc.js" charset="utf-8"></script>

</head>
<body>
<div ng-app="" class="container">
    <div class="row">
        <div class="col-md-4 col-xs-12 text-right"><a href="../index.html"><<返回</a></div>
        <div class="col-md-4 col-xs-12 text-center"><h2>人生检测</h2></div>
        <div class="col-md-4 col-xs-12"></div>
    </div>
    <div class="row">
        <div class="text-center col-md-12"><h2>请输入信息</h2></div>
        <div class="col-md-4 col-xs-12 text-center">
            <span data-res-from="inname">姓名：</span><input id="inname" class="input-sm" ng-model="inname" size="5" type="text"/>
            <span data-res-from="insex">性别：</span><input id="insex" class="input-sm" ng-model="insex" size="5" type="text"/>
        </div>
        <div class="col-md-4 col-xs-12 text-center">
            <span data-res-from="iny">出生日期：</span>
        </div>
        <div class="col-md-4 col-xs-12 text-center">
            <input id="iny" ng-model="iny" size="5" type="text" placeholder="1999"/><span>年</span>
            <input id="inm" ng-model="inm" size="5" type="text" placeholder="6"/><span>月</span>
            <input id="ind" ng-model="ind" size="5" type="text" placeholder="25"/><span>日</span>
        </div>
        <div class="col-md-12 text-center my-color-339933">
            <hr/>
            <p>我叫 {{inname}}</p>

            <p>于{{iny}}年{{inm}}月{{ind}}日出生的一个小{{insex}}孩</p>

            <p>
                <button id="stat" class="btn btn-group">开始检测</button>
            </p>
            <ht></ht>
        </div>
        <!-- 结果-->
        <div class="col-md-12 text-center my-bg-000 positiontop" style="display: none">
            <h2 class="my-color-f">你的人生如下：<br>【长按-可保存图片】</h2>

            <div class="col-md-12 my-color-f text-center">
                <canvas id="canvasjg" width="320" height="640">"人生检测"，对不起，你的浏览器不支持h5的canvas</canvas>
            </div>
        </div>
    </div>
</div>

</body>
</html>